<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: '관리자 페이지' })%>
    <head>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />
    </head>
    <body id="adminAccessBody">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button
                    class="nav-link active"
                    id="nav-home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-home"
                    type="button"
                    role="tab"
                    aria-controls="nav-home"
                    aria-selected="true"
                >
                    Member
                </button>
                <button
                    class="nav-link"
                    id="nav-profile-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-profile"
                    type="button"
                    role="tab"
                    aria-controls="nav-profile"
                    aria-selected="false"
                >
                    Post
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div
                class="tab-pane fade show active"
                id="nav-home"
                role="tabpanel"
                aria-labelledby="nav-home-tab"
                tabindex="0"
            >
                <section class="notice">
                    <h2 class="h3Text">회원 관리</h2>
                    <div>
                        <form action="/admin/memberSearch" method="get">
                            <div id="boardSearch1">
                                <label class="blind" for="searchInput">회원 검색</label>
                                <input
                                    id="searchInput"
                                    style="width: 500px"
                                    type="search"
                                    name="query"
                                    placeholder="이름/아이디/닉네임/이메일로 검색할 수 있습니다."
                                />
                                <button type="submit" class="btn btn-dark" id="search-button">
                                    검색
                                </button>
                            </div>
                        </form>
                    </div>
                    <br />
                    <div id="member-list" style="overflow-y: scroll; max-height: 400px">
                        <div class="container">
                            <form action="/admin/deleteAccount" method="post">
                                <span>
                                    <input
                                        type="button"
                                        id="deleteButton"
                                        class="btn btn-outline-info"
                                        value="삭제"
                                        onclick="deleteMember()"
                                    />
                                </span>
                            </form>
                            <table class="table caption-top">
                                <caption>
                                    회원 목록
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col" class="th-check"></th>
                                        <th scope="col" class="th-id">아이디</th>
                                        <th scope="col" class="th-name">이름</th>
                                        <th scope="col" class="th-nickname">닉네임</th>
                                        <th scope="col" class="th-email">이메일</th>
                                        <th scope="col" class="th-joindate">가입일</th>
                                        <th scope="col" class="th-mem_lv">권한</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% members.forEach(user => { %>
                                    <tr class="tr-text">
                                        <td>
                                            <input
                                                type="checkbox"
                                                class="checkbox"
                                                data-member-idx="<%= user.id %>"
                                            />
                                        </td>
                                        <td><%= user.userID %></td>
                                        <td><%= user.userName %></td>
                                        <td><%= user.userNickname %></td>
                                        <td><%= user.userEmail %></td>
                                        <td><%= user.createdAt %></td>
                                        <td>
                                            <% if (user.memLV == 1) { %> 일반회원 <% } else { %>
                                            관리자 <% } %>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div
                class="tab-pane fade"
                id="nav-profile"
                role="tabpanel"
                aria-labelledby="nav-profile-tab"
                tabindex="0"
            >
                <h3>게시글 관리</h3>
            </div>
        </div>
        <script>
            function goBack() {
                window.history.back();
            }
            const deleteMember = async () => {
                const checkboxes = document.querySelectorAll(".checkbox:checked");
                const memberIds = Array.from(checkboxes).map(
                    (checkbox) => checkbox.dataset.memberIdx
                ); // 선택된 회원들의 ID 배열로 변환

                if (memberIds.length === 0) {
                    alert("삭제할 회원을 선택해주세요.");
                    return;
                }

                try {
                    const response = await fetch("/admin/deleteMember", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ memberIds }),
                    });

                    if (response.ok) {
                        const result = await response.json();
                        alert(result.message);
                        location.reload();
                    } else {
                        throw new Error("회원 삭제 요청 실패");
                    }
                } catch (error) {
                    console.error("회원 삭제 오류:", error);
                    alert("회원 삭제 중 오류가 발생했습니다.");
                }
            };
        </script>
    </body>
</html>
