<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%> <% if(isLogin) {%>
        <div class="myPageProfileInfo">
            <div class="myPageDiv1">
                <div id="myPageIcon">
                    <% if(data.userPhoto) {%>
                    <img src="/<%= data.userPhoto%>" alt="<%= data.userNickname %> image" />
                    <% } else{ %>
                    <img src="/static/image/default.jpg" alt="default image" width="100%" />
                    <% } %>
                </div>
                <p class="myPageNickname"><%= data.userNickname %></p>
                <!--닉네임-->
            </div>
            <p id="userText" name="userText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo excepturi
                iure, vero accusantium expedita natus adipisci dolore odio alias molestias pariatur,
                eum, nihil nam corrupti neque blanditiis illum temporibus.
            </p>
            <!-- <div class="myPageDiv2"> -->
            <!--게시물 수-->
            <!-- <p class="myPagePostCountName">게시물</p> -->
            <!-- </div> -->
        </div>
        <div class="myPageBTN">
            <button class="myPageEditBTN" type="button" onClick="location.href='/profileEdit'">
                프로필 편집
            </button>
            <button class="myPagePostBTN" type="button" onClick="location.href='/postEdit'">
                글 등록하기
            </button>
        </div>

        <br /><br />
        <p class="myPagePostCount">게시물 <%= myPagePostCount%></p>
        <!-- </div> -->
        <hr width="70%" />
        <br /><br />
        <div class="inner">
            <!-- Boxes -->
            <!-- 이미지 경로 이름은 확인하고 변경할 수도 있음(/static/uploads/post Or /static/) -->
            <% for(let i = 0; i < myPosts.length ; i++ ) {%>
            <div class="box-wrap">
                <div class="box">
                    <div class="img">
                        <img src=/<%=myPosts[i].reImage%> alt="<%myPosts[i].postNumber%>번 게시글"
                        />
                    </div>
                    <div class="info">
                        <p><a href="/putPostRequest/<%=myPosts[i].postNumber%>">글 수정하기</a></p>
                    </div>
                </div>
                <% } %>
            </div>

            <!-- Scripts -->
            <script src="../static/js/jquery.min.js"></script>
            <script src="../static/js/jquery.scrolly.min.js"></script>
            <script src="../static/js/jquery.poptrox.min.js"></script>
            <script src="../static/js/skel.min.js"></script>
            <script src="../static/js/util.js"></script>
            <script src="../static/js/main.js"></script>
        </div>
        <% } %>
    </body>
</html>
