<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%> <% console.log(isModify) %> <%#
        console.log("****************************",postResult) %>
        <div class="postEditContainer">
            <h2 class="H1WWT">What Was Today</h2>
            <form name="wwtPostEdit">
                <div class="inputContainer">
                    <% if(isModify){ %>
                    <fieldset>
                        <legend>날씨를 골라주세요</legend>
                        <% if(postResult.weather === 'sunny'){ %>
                        <label for="sunny"
                            ><input id="sunny" type="radio" name="weather" value="sunny" checked />
                            맑음</label
                        >
                        <label for="rainy"
                            ><input id="rainy" type="radio" name="weather" value="rainy" />
                            비</label
                        >
                        <label for="snow"
                            ><input id="snow" type="radio" name="weather" value="snow" /> 눈</label
                        >
                        <label for="cloudy"
                            ><input id="cloudy" type="radio" name="weather" value="cloudy" />
                            흐림</label
                        >
                        <% } else if(postResult.weather === 'rainy'){ %>
                        <label for="sunny"
                            ><input id="sunny" type="radio" name="weather" value="sunny" />
                            맑음</label
                        >
                        <label for="rainy"
                            ><input id="rainy" type="radio" name="weather" value="rainy" checked />
                            비</label
                        ><label for="snow"
                            ><input id="snow" type="radio" name="weather" value="snow" /> 눈</label
                        >
                        <label for="cloudy"
                            ><input id="cloudy" type="radio" name="weather" value="cloudy" />
                            흐림</label
                        >
                        <% } else if(postResult.weather === 'snow'){ %>
                        <label for="sunny"
                            ><input id="sunny" type="radio" name="weather" value="sunny" />
                            맑음</label
                        >
                        <label for="rainy"
                            ><input id="rainy" type="radio" name="weather" value="rainy" />
                            비</label
                        >
                        <label for="snow"
                            ><input id="snow" type="radio" name="weather" value="snow" checked />
                            눈</label
                        >
                        <label for="cloudy"
                            ><input id="cloudy" type="radio" name="weather" value="cloudy" />
                            흐림</label
                        >
                        <% }else{ %>
                        <label for="sunny"
                            ><input id="sunny" type="radio" name="weather" value="sunny" />
                            맑음</label
                        >
                        <label for="rainy"
                            ><input id="rainy" type="radio" name="weather" value="rainy" />
                            비</label
                        >
                        <label for="snow"
                            ><input id="snow" type="radio" name="weather" value="snow" /> 눈</label
                        >
                        <label for="cloudy"
                            ><input id="cloudy" type="radio" name="weather" value="cloudy" />
                            흐림</label
                        >
                        <% } %>
                    </fieldset>
                    <input
                        type="text"
                        name="title"
                        id="postEditTitle"
                        placeholder="제목"
                        value="<%=postResult.postTitle%>"
                    />
                    <div class="regionBox">
                        <% for(let i = 0; i < courseResult.length ; i++ ) {%>
                        <textarea
                            name="postContent"
                            id=""
                            cols="30"
                            rows="500"
                            placeholder="내용을 입력해주세요"
                            style="height: 300px"
                            maxlength="500"
                        >
<%=courseResult[i].courseText  %></textarea
                        >
                        <!-- <input type="file" name="" id="postEditFile" /> -->
                        <!-- 수정할 땐 이미지가 있는 게 좋을 것 같아서 넣었는데, 결과물 보고 별로면 없애도 될 것 같아요. -->
                        <div class="searchResult">
                            <img
                                src="/<%= postResult.reImage %>"
                                alt="<%= postResult.postTitle %> Image"
                            />
                            <!-- <input
                                type="text"
                                id="searchText"
                                placeholder="찾으시는 위치를 적어주세요"
                                value=""
                            /> -->
                        </div>
                        <!-- <button type="button" onclick="getPlaces()" value="위치검색" id="searchBTN">
                            위치 검색하기
                        </button> -->
                        <% } %>
                    </div>
                    <button type="button" onclick="addPost()" id="addBTN">+</button>
                    <button class="writePostBTN" type="button" onclick="appendPost()">
                        Would you like to post?
                    </button>
                    <br />
                    <br />
                    <input name="postNumber" type="hidden" value="<%= postResult.postNumber %>" />
                    <button id="deletePostBTN" type="button" onclick="deletePost()">
                        Delete the post
                    </button>
                </div>

                <% }else{ %>
                <div class="inputContainer">
                    <fieldset>
                        <legend>날씨를 골라주세요</legend>
                        <label for="sunny"
                            ><input
                                id="sunny"
                                type="radio"
                                name="weather"
                                value="sunny"
                            />맑음</label
                        >
                        <label for="rainy"
                            ><input id="rainy" type="radio" name="weather" value="rainy" />비</label
                        >
                        <label for="snow"
                            ><input id="snow" type="radio" name="weather" value="snow" />눈</label
                        >
                        <label for="cloudy"
                            ><input
                                id="cloudy"
                                type="radio"
                                name="weather"
                                value="cloudy"
                            />흐림</label
                        >
                    </fieldset>
                    <input type="text" name="title" id="postEditTitle" placeholder="제목" />
                    <div class="regionBox">
                        <textarea
                            name="postContent"
                            id=""
                            cols="30"
                            rows="500"
                            placeholder="내용을 입력해주세요"
                            style="height: 300px"
                            maxlength="500"
                        ></textarea>
                        <input type="file" name="file1" id="postEditFile" />
                        <input
                            type="text"
                            id="searchText"
                            placeholder="찾으시는 위치를 적어주세요"
                            value=""
                        />
                        <div class="searchResult"></div>
                        <button type="button" onclick="getPlaces()" value="위치검색" id="searchBTN">
                            위치 검색하기
                        </button>
                    </div>
                    <button type="button" onclick="addPost()" id="addBTN">+</button>
                    <button class="writePostBTN" type="button" onclick="appendPost()">
                        Would you like to post?
                    </button>
                    <input name="postNumber" type="hidden" value="" />
                </div>
                <% } %>
            </form>
            <%#console.log(courseResult[0].courseImagePath) %>
        </div>
        <script>
            const form = document.forms["wwtPostEdit"];
            async function getPlaces() {
                try {
                    const keywordInput = document.getElementById("searchText");
                    console.log(keywordInput);
                    const keyword = keywordInput.value;

                    const response = await axios.post("http://localhost:8000/getPlaces", {
                        keyword: keyword,
                    });
                    const places = response.data.places;

                    console.log(places);
                    displayPlaces(places);
                    keywordInput.remove();
                } catch (error) {
                    console.error("Error fetching places:", error.message);
                    alert("Failed to fetch places. Please check the console for details.");
                }
            }
            //{
            //    "postTitle" :"임시제목",
            //    "weather" : "sunny",
            //    "region" : "서울",
            //    "postCourse" : [{"courseImagePath" : "temp", "courseLon":12.12, "courseLat":13.13, "courseText":"course설명입니다"},{"courseImagePath" : "temp", "courseLon":12.12, "courseLat":13.13, "courseText":"course설명입니다"}]
            //}와 같은 형태로 받도록 되어 있습니다.
            let postCourse = [];
            let lon, lat;
            let num = 0;
            async function axiosPost(place) {
                console.log(place);
                const response = await axios
                    .post("http://localhost:8000/getLatLng", {
                        placeId: place.id,
                    })
                    .then((result) => {
                        console.log(result.data);
                        lon = result.data.lon;
                        lat = result.data.lat;
                        const div = place.parentNode.parentNode.parentNode;
                        const ul = place.parentNode;
                        const p = document.createElement("p");
                        const placesList = document.querySelector(".searchResult");

                        div.setAttribute(
                            "id",
                            `${result.data.location.lng},${result.data.location.lat}`
                        );
                        div.setAttribute("class", "postBox");
                        console.log(div);

                        console.log(place.innerText);
                        p.innerText = place.innerText + " (" + place.id + ")";

                        ul.parentNode.nextElementSibling.remove();
                        ul.parentNode.remove();
                        div.append(p);

                        // postCourse[num].append({
                        //     courseImagePath: "temp",
                        //     courseLon: result.data.lon,
                        //     courseLat: result.data.lat,
                        //     courseText: "course설명입니다",
                        // });
                        // return result.data;
                    });
            }

            function displayPlaces(places) {
                const placesList = document.querySelector(".searchResult");
                placesList.innerHTML = ""; // 기존 목록 초기화

                if (places.length === 0) {
                    placesList.innerHTML = "No places found.";
                    return;
                }
                const search = document.querySelector(".searchResult");
                const ul = document.createElement("ul");
                places.forEach((place) => {
                    const btn = document.createElement("button");
                    const li = document.createElement("li");
                    console.log(place);

                    btn.setAttribute("id", place.place_id);
                    btn.setAttribute("type", "button");
                    btn.setAttribute("onclick", "axiosPost(this)");
                    btn.setAttribute("value", "위치");
                    btn.textContent = `${place.name}`;
                    console.log(btn);

                    li.appendChild(btn);
                    ul.appendChild(btn);
                });

                placesList.appendChild(ul);
            }

            async function getLonLat() {
                try {
                    // const placeIdInput = document.getElementById("placeIdInput");
                    // const placeId = placeIdInput.value;

                    const response = await axios.post("http://localhost:8000/getLatLng", {
                        placeId: "ChIJAQUM8DC5fDURFfgRagtj3pM",
                    });

                    const location = response.data.location;

                    // displayLocation(location);
                    console.log(location);
                } catch (error) {
                    console.error("Error fetching location:", error.message);
                    alert("Failed to fetch location. Please check the console for details.");
                }
            }
            let count = 1;
            function displayLocation(location) {
                const locationInfo = document.getElementById("locationInfo");
                locationInfo.innerHTML = ""; // 이전 정보 초기화

                const p = document.createElement("p");
                p.textContent = `Latitude: ${location.lat}, Longitude: ${location.lng}`;
                locationInfo.appendChild(p);
            }

            function appendPost() {
                //multer
                const form = document.forms["wwtPostEdit"];
                const file = document.getElementById("postEditFile");
                const formData = new FormData();
                //formData.append("postEditFile", file.files[0]);
                for (let i = 1; i <= count; i++) {
                    const file = document.getElementsByName(`file${i}`);
                    formData.append(`file${i}`, file[0].files[0]);
                }
                console.log(form.title.value);

                let postBoxList = document.getElementsByClassName("postBox");
                let weatherRadio = document.querySelector('input[name="weather"]:checked').value;
                let postTitle = document.querySelector('input[name="title"]').value;
                let postContent = document.querySelectorAll('textarea[name="postContent"]');
                console.log("=======" + postContent[0]);
                console.log(postContent[1] + "=======");
                let postCourse = [];
                for (let i = 0; i < postBoxList.length; i++) {
                    console.log(postBoxList[i]);
                    console.log(postContent[i]);
                    let postLonLat = postBoxList[i].id.toString().split(",");
                    console.log(postLonLat);
                    postCourse[i] = {
                        // courseImagePath: "tt",
                        courseLon: postLonLat[0],
                        courseLat: postLonLat[1],
                        courseText: postContent[i].value,
                    };
                }

                console.log(postCourse);
                console.log("문자열로 변경");
                console.log(JSON.stringify(postCourse));
                // const data = {
                //     postTitle: postTitle,
                //     weather: weatherRadio,
                //     region: "서울",
                //     postCourse: postCourse,
                // };

                formData.append("postTitle", postTitle);
                formData.append("weather", weatherRadio);
                formData.append("region", "서울");
                formData.append("postCourse", JSON.stringify(postCourse));
                console.log(formData);
                for (let key of formData.keys()) {
                    console.log("-----formdata");
                    console.log(formData.get(key));
                }
                axios({
                    method: "POST",
                    url: "/writePost",
                    data: formData,
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                    .then((data) => {
                        if (data) {
                            console.log(data);
                            location.href = "/main";
                        } else {
                            alert("다시 시도해주세요");
                        }
                    })
                    // .then(function (data) {})
                    .catch((err) => console.log(err));

                // multer
                // axios({
                //     method: "POST",
                //     url: "/uploadPost",
                //     data: formData,
                //     headers: {
                //         "Content-Type": "multipart/form-data",
                //     },
                // })
                //     .then((res) => {
                //         document.location.href = "/main";
                //     })
                //     // .then(function (data) {})
                //     .catch((err) => console.log(err));
            }

            function addPost() {
                count++;
                console.log(count);
                let regionNewBox = document.createElement("div");
                let addBTN = document.querySelector("#addBTN");
                let regionBox = addBTN.previousElementSibling;
                console.log(addBTN);
                console.log(regionBox);

                regionNewBox.innerHTML = `<textarea name="postContent" id="" cols="30" rows="10" placeholder="내용을 입력해주세요" style="height: 300px" maxlength="500"></textarea><input type="file" name="file${count}" id="postEditFile" /><input type="text" id="searchText" placeholder="찾으시는 위치를 적어주세요"/><div class="searchResult"></div> <button type="button" onclick="getPlaces()" value="위치검색" id="searchBTN"> 위치 검색하기 </button>`;
                regionBox.append(regionNewBox);
            }

            function deletePost() {
                // console.log(req.body);
                let form = document.forms["wwtPostEdit"];
                axios({
                    url: "/deletePost",
                    method: "DELETE",
                    data: {
                        postNumber: form.postNumber.value,
                    },
                }).then(() => {
                    alert("게시글이 삭제되었습니다.");
                    document.location.href = "/myPage";
                });
            }
        </script>
    </body>
</html>
