<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div class="profileEditContainer">
            <div class="profileEditImgContainer">
                <div class="profileEditIcon">
                    <img id="imageElement" src="../static/image/default.jpg" alt="기본 이미지" />
                </div>
                <input type="file" accept="image/*" style="display: none" id="fileInput" />
                <button id="profileEditIconBTN">사진변경</button>
            </div>
            <form name="form-text">
                <input type="hidden" name="userID" value="<%=data.userID%>" required />
                <input type="text" name="userName" value="<%=data.userName%>" required />
                <br />
                <input type="text" name="userNickname" value="<%=data.userNickname%>" required />
                <br />
                <input type="text" name="userEmail" value="<%=data.userEmail%>" required />
                <br />
                <input type="text" name="userPW" placeholder="비밀번호" required />
                <!-- <textarea
                    name="userText"
                    cols="30"
                    rows="10"
                    placeholder="소개 글을 작성해주세요"
                ></textarea> -->
                <br />
            </form>
            <button type="button" onclick="logout()">로그아웃</button>
            <button type="button" onclick="profileEdit()">프로필 편집</button>
            <button type="button" onclick="deleteUser()">회원탈퇴</button>
        </div>

        <script>
            function logout() {
                axios({
                    url: "/logout",
                    method: "POST",
                })
                    .then(() => {
                        alert("로그아웃되었습니다.");
                        document.location.href = "/";
                    })
                    .catch((err) => {
                        console.error("로그아웃 오류:", err);
                    });
            }

            function profileEdit() {
                const form = document.forms["form-text"];
                axios({
                    url: "/editUser",
                    method: "POST",
                    data: {
                        userID: form.userID.value,
                        userPW: form.userPW.value,
                        userName: form.userName.value,
                        userNickname: form.userNickname.value,
                        userEmail: form.userEmail.value,
                    },
                })
                    .then((res) => {
                        alert("수정완료");
                        document.location.href = "/profileEdit";
                    })
                    .catch((err) => {
                        alert("수정실패");
                    });
            }

            function deleteUser() {
                const form = document.forms["form-text"];
                axios({
                    url: "/deleteUser",
                    method: "POST",
                    data: {
                        userID: form.userID.value,
                    },
                }).then(() => {
                    alert("탈퇴되었습니다.");
                    document.location.href = "/";
                });
            }

            var fileInput = document.getElementById("fileInput");
            var imageElement = document.getElementById("imageElement");
            fileInput.addEventListener("change", function (event) {
                var selectedFile = event.target.files[0];
                console.log("selectedFile::", selectedFile);
                if (selectedFile && selectedFile.type.startsWith("image/")) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        imageElement.src = event.target.result;
                    };
                    reader.readAsDataURL(selectedFile);
                }
            });
            document.getElementById("profileEditIconBTN").addEventListener("click", function () {
                fileInput.click();
            });

            // function imgChange() {
            //     var newImagePath = "../static/image/logo.png";
            //     imageElement.src = newImagePath;
            // }
            // 원래 쓰려고 했던 함수
        </script>
    </body>
</html>
