<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head', { title: 'What Was Today' })%>
    <body>
        <%- include('include/header')%>
        <div class="profileEditContainer">
            <form name="form-text">
                <input type="hidden" name="userID" value="<%=data.userID%>" required />
                <div class="profileEditIcon">
                    <% if(data.userPhoto){ %>
                    <img
                        id="imageElement"
                        src="/<%=data.userPhoto%>"
                        alt="<%=data.userName%> 프로필 이미지"
                    />
                    <% }else{ %>
                    <img id="imageElement" src="/static/image/default.jpg" alt="기본 이미지" />
                    <% } %>
                </div>
                <input type="file" accept="image/*" style="display: none" id="fileInput" />
                <button id="profileEditIconBTN">사진변경</button>
                <input type="text" name="userName" placeholder="이름" value="<%=data.userName%>" />
                <br />
                <input
                    type="text"
                    name="userNickname"
                    placeholder="닉네임"
                    value="<%=data.userNickname%>"
                />
                <br />
                <input
                    type="text"
                    name="userEmail"
                    placeholder="이메일"
                    value="<%=data.userEmail%>"
                />
                <br />
                <input type="password" name="userPW" placeholder="비밀번호" required />
                <textarea
                    name="userText"
                    cols="30"
                    rows="6"
                    placeholder="소개 글을 작성해주세요"
                    value="<%= data.userText %>"
                ></textarea>
                <br />
                <div class="profileEditBTN">
                    <button type="button" onclick="profileEdit()">프로필 편집</button>
                    <button type="button" onclick="deleteUser()">회원탈퇴</button>
                </div>
            </form>
        </div>

        <script>
            function profileEdit() {
                const form = document.forms["form-text"];
                // new formData 를 이용해서 파일 정보 서버에 보내주기
                const file = document.getElementById("fileInput");
                const formData = new FormData();
                console.log(form.userText.value);
                // console.log(file.files[0]);
                formData.append("fileInput", file.files[0]);
                formData.append("userID", form.userID.value);
                formData.append("userPW", form.userPW.value);
                formData.append("userName", form.userName.value);
                formData.append("userNickname", form.userNickname.value);
                formData.append("userEmail", form.userEmail.value);
                formData.append("userText", form.userText.value);
                console.log(formData);

                axios({
                    url: "/editUser",
                    method: "POST",
                    data: formData,
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                    .then((res) => {
                        alert("수정완료");
                        form.userText.value = res.userText;
                        document.location.href = "/myPage";
                    })
                    .catch((err) => {
                        alert("수정실패");
                    });
            }
            function deleteUser() {
                const form = document.forms["form-text"];
                axios({
                    url: "/deleteUser",
                    method: "POST",
                    data: {
                        userID: form.userID.value,
                    },
                }).then(() => {
                    alert("탈퇴되었습니다.");
                    document.location.href = "/";
                });
            }

            var fileInput = document.getElementById("fileInput");
            var imageElement = document.getElementById("imageElement");
            fileInput.addEventListener("change", function (event) {
                var selectedFile = event.target.files[0];
                console.log("selectedFile::", selectedFile);
                if (selectedFile && selectedFile.type.startsWith("image/")) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        imageElement.src = event.target.result;
                    };
                    reader.readAsDataURL(selectedFile);
                }
            });
            document.getElementById("profileEditIconBTN").addEventListener("click", function () {
                fileInput.click();
            });
        </script>
    </body>
</html>
